.container{
    background-color: white;
    padding: 1rem 1rem;
}

.repoLink > a{
    color: blue;
    cursor: pointer;
    
}

.repoLink > a:hover{
    text-decoration: underline;
}

.stats{
    display: flex;
    align-items: center;
    gap:2rem;
    margin: -10px 0;
}

.stats >p{
    font-weight: bold;
    color: gray;
}

.language{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.language > span{
    height: 20px;
    width: 20px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
}